<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex01</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <h1>Testando aplicação de CSS</h1>

    <div class="video">    
        <iframe iframe src="https://www.youtube.com/embed/JmsxJrn0xNk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
   
    <div id="bloco">
        <p>
            Orem ipsum dolor sit amet consectetur adipisicing elit. Placeat, perspiciatis aut consectetur culpa facere nostrum architecto rem incidunt nam? Nobis officia officiis ipsum itaque necessitatibus quibusdam quis eveniet aspernatur eius?
            Quo nostrum facilis, nobis fuga modi voluptatibus. Blanditiis ea recusandae ipsum quisquam nesciunt harum delectus? Neque labore earum pariatur sapiente ex exercitationem dolore ullam at, voluptas excepturi libero sequi voluptatum!
            Eligendi corporis fuga ut ipsa ad repellendus delectus incidunt maxime laborum, nemo odit asperiores amet deserunt culpa optio, rem doloribus quasi? Magnam voluptatum sunt aspernatur. Eveniet consequatur optio tenetur aliquam.
        </p>
    </div>

    <div>
        <p>
            Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.
            Mé faiz elementum girarzis, nisi eros vermeio. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.
        </p>
    </div>
</body>
</html>