body{
    background-color: #B2BDE5;

}
hr{
    background-color: #9ea9d1;
    text-align: justify;
    font-size: 20px;
    border-style: groove;
    margin-right: 10px;
    margin-left: 10px;
}
h1{
    color:#3b79ac;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}
p{
    margin: auto;
    margin-bottom: auto;
    border: 2px salmon;
    border-style: solid;
    padding: 10px;
    text-align: justify;
    font-family:  'Courier New', Courier, monospace;
    font-size: 20px;
    background-color:white;
    color:rgba(21, 17, 226, 0.753);

}
/* div{
    background-color:#A5BDE5 ;
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
    
} */
#bloco{
    margin-bottom:  30px;
    background-color: #4f1271;
    padding: 10px;

}
.video{
    background-color:#4f1271;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 30px;
    
}
iframe{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    width: 560px;
    height: 315px;
    border-radius: 20px;
    display: block;
}